* {
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS', cursive;
    box-sizing: border-box;
    text-decoration: none;
}

#clock {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(177, 115, 235);
    padding: 20px;
    border-radius: 5px;
}

.container {
    background-color: #f3f1f6;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
}

.form-content {
    width: 100%;
    max-width: 450px;
    background-color: rgb(177, 115, 235);
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 25px;
}

.form-content h1 {
    font-size: 30px;
    margin-bottom: 60px;
    color: #ffffff;
    position: relative;
}

.input-field {
    background-color: #ffffff;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    transition: max-height 0.5s;
    overflow: hidden;
}

.input-field input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
    padding: 18px 15px;
    color: rgb(0, 0, 0);
}

.input-field input::placeholder {
    color: rgb(0, 0, 0);
}

.input-field i {
    margin-left: 15px;
    color: rgb(254, 90, 90);
}

.form-content p {
    color: white;
    text-align: left;
    font-size: 13px;
    margin-bottom: 20px ;
    font-size: 15px
}

.form-content p a {
    color: black;
    margin-left: 5px;
}

.btn-field {
    width: 100%;
    display: flex;
    justify-content: space-between; /* Para alinear los botones horizontalmente */
    margin-top: 20px; /* Añadido espacio superior entre el formulario y los botones */
}

.btn-field button {
    flex-basis: 30%; /* Ajuste del ancho de los botones */
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    height: 40px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 0.1s;
    color:black;
}

.btn-field button.disable {
    background-color: white;
    color: black;
}

.btn-field button:active {
    background-color: rgb(204, 0, 0)
}
